<form action="/auth/login" method="post">
  <p>Username: <input type="text" id="username" name="user[username]" /></p>
  <p>Password: <input type="password" id="password" name="user[password]" /></p>
  <input type="submit" value="Submit" />
</form>
